@import "../variables.modules";

nav {
  height: 100px;
  display: flex;
  align-items: center;  // 세로 중앙 정렬을 위한 속성 추가
  justify-content: center;
  transition: $transition;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link {
  cursor: pointer;  // 마우스가 요소 위로 올라갈 때 커서를 포인터로 변경
  transition: $transition;

  &:hover {
    color: grey;
  }
}